<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-star"></span> Content Approval
				</h4>
			</div>
			<div class="modal-body banner" style="overflow: auto;" banner="250">
				<ng-form name="manageSubCategoryDialog" novalidate role="form">

				<div class="form-group input-group-lg">
					<label class="control-label" for="category"><a
						style="color: black" ng-model="collapsedCategory"
						ng-click="collapsedCategory=!collapsedCategory">Category:</a></label>
					<div ng-repeat="category in categories">

						<div class="text-info"
							ng-show="!collapsedCategory && category.categoryId == content.categoryId">{{category.name}}
						</div>
					</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="subcategory"><a
						style="color: black" ng-model="collapsedSubCategory"
						ng-click="collapsedSubCategory=!collapsedSubCategory">Sub
							Category:</a></label>
					<div ng-repeat="category in categories">
						<div ng-repeat="subCategory in category.subCategories">
							<div ng-repeat="subCategoryId in content.subCategoryId">
								<div class="text-info"
									ng-show="!collapsedSubCategory && subCategory.subCategoryId == subCategoryId">{{subCategory.subCategoryName}}</div>
							</div>
						</div>
					</div>

				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="title"><a
						style="color: black" ng-model="collapsedTitle"
						ng-click="collapsedTitle=!collapsedTitle">Title:</a></label>
					<div class="text-info" ng-show="!collapsedTitle">{{content.title}}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="body"><a
						style="color: black" ng-model="collapsedBody"
						ng-click="collapsedBody=!collapsedBody">Body:</a></label>
					<div class="text-info" ng-show="!collapsedBody">{{content.contentBody}}</div>
				</div>

				<div class="form-group input-group-lg" ng-show="content.imageName != null">
					<label class="control-label" for="image"><a
						style="color: black" ng-model="collapsedImage"
						ng-click="collapsedImage=!collapsedImage">Image:</a></label>
					<div class="text-info" ng-show="!collapsedImage">
						<img src="static/images/{{content.imageName}}" width="350px;" height="200px;">
					</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="tags"><a
						style="color: black" ng-model="collapsedTags"
						ng-click="collapsedTags=!collapsedTags">Tags:</a></label>
					<div class="text-info" ng-show="!collapsedTags">{{content.tags}}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="createdby"><a
						style="color: black" ng-model="collapsedCreatedBy"
						ng-click="collapsedCreatedBy=!collapsedCreatedBy">Created By:</a></label>
					<div class="text-info" ng-show="!collapsedCreatedBy">{{content.author}}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="createdon"><a
						style="color: black" ng-model="collapsedCreatedOn"
						ng-click="collapsedCreatedOn=!collapsedCreatedOn">Created On:</a></label>
					<div class="text-info" ng-show="!collapsedCreatedOn">{{content.createdDate}}</div>
				</div>

				<div class="form-group input-group-lg"
					ng-class="{true:'has-error'}[manageContentApprovalDialog.description.$dirty && manageContentApprovalDialog.description.$invalid]">
					<label class="control-label" for="comment">Comment:</label>
					<textarea class="form-control" name="comment" id="comment"
						ng-model="content.comment" ng-keyup="hitEnter($event)"></textarea>
					<span class="help-block">Enter the comment.</span>
				</div>
				</ng-form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
				<button type="button" class="btn btn-success" ng-click="approve()"
					ng-disabled="(manageContentApprovalDialog.$dirty && manageContentApprovalDialog.$invalid) || manageContentApprovalDialog.$pristine || content.status== 'APPROVED'">Approve</button>
				<button type="button" class="btn btn-danger" ng-click="reject()"
					ng-disabled="content.comment==null || content.comment=='' || content.status== 'REJECTED'">Reject
				</button>

			</div>
		</div>
	</div>
</div>