<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-star"></span> Content Approval
				</h4>
			</div>
			<div class="modal-body banner" style="overflow: auto;" banner="250">
				<ng-form name="manageSubCategoryDialog" novalidate role="form">

				<div class="form-group input-group-lg">
					<label class="control-label" for="category"><a
						style="color: black" ng-model="collapsedCategory"
						ng-click="collapsedCategory=!collapsedCategory">Hospital Name:</a></label>
					<div class="text-info" ng-show="!collapsedCategory">{{hospital.hospitalName
						| capitalize}}</div>
				</div>

				<div class="form-group input-group-lg"
					ng-show="hospital.logo != null">
					<label class="control-label" for="image"><a
						style="color: black" ng-model="collapsedImage"
						ng-click="collapsedImage=!collapsedImage">Logo:</a></label>
					<div class="text-info" ng-show="!collapsedImage">
						<img src="static/images/{{hospital.logo}}" width="350px;"
							height="200px;">
					</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="subcategory"><a
						style="color: black" ng-model="collapsedSubCategory"
						ng-click="collapsedSubCategory=!collapsedSubCategory">Address
							:</a></label>
					<div class="text-info"
						ng-show="!collapsedSubCategory && subCategory.subCategoryId == subCategoryId">{{hospital.address.address
						|isNull }}</div>

				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="title"><a
						style="color: black" ng-model="collapsedTitle"
						ng-click="collapsedTitle=!collapsedTitle">City:</a></label>
					<div class="text-info" ng-show="!collapsedTitle">{{hospital.address.city
						|cityName:listofcountry |isNull }}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="body"><a
						style="color: black" ng-model="collapsedBody"
						ng-click="collapsedBody=!collapsedBody">State:</a></label>
					<div class="text-info" ng-show="!collapsedBody">{{hospital.address.state
						|stateName:listofcountry |isNull }}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="body"><a
						style="color: black" ng-model="collapsedBody1"
						ng-click="1collapsedBody=!collapsedBody1">State:</a></label>
					<div class="text-info" ng-show="!collapsedBody1">{{hospital.address.country
						|countryName:listofcountry |isNull }}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="body"><a
						style="color: black">About Hospital:</a></label>
					<div class="text-info">{{hospital.aboutHospital |isNull }}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="body"><a
						style="color: black">Procedure / Services:</a></label>
					<div class="text-info"
						ng-repeat="procedure in hospital.procedures | procedureName:listOfProcedure">{{procedure.procedureName
						|isNull }}</div>
				</div>



				<div class="form-group input-group-lg">
					<label class="control-label" for="tags"><a
						style="color: black" ng-model="collapsedTags"
						ng-click="collapsedTags=!collapsedTags">Contact Numbers:</a></label>
					<div class="text-info" ng-show="!collapsedTags">{{hospital.contactNo
						|isNull }}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="createdby"><a
						style="color: black" ng-model="collapsedCreatedBy"
						ng-click="collapsedCreatedBy=!collapsedCreatedBy">Fax Numbers:</a></label>
					<div class="text-info" ng-show="!collapsedCreatedBy">{{hospital.faxNo
						|isNull }}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="createdon"><a
						style="color: black" ng-model="collapsedCreatedOn"
						ng-click="collapsedCreatedOn=!collapsedCreatedOn">Facebook :</a></label>
					<div class="text-info" ng-show="!collapsedCreatedOn">{{hospital.fbLink
						|isNull }}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="createdon"><a
						style="color: black" ng-model="collapsedCreatedOn"
						ng-click="collapsedCreatedOn=!collapsedCreatedOn">Twitter :</a></label>
					<div class="text-info" ng-show="!collapsedCreatedOn">{{hospital.twitterLink
						|isNull }}</div>
				</div>

				<div class="form-group input-group-lg">
					<label class="control-label" for="createdon"><a
						style="color: black" ng-model="collapsedCreatedOn"
						ng-click="collapsedCreatedOn=!collapsedCreatedOn">Website :</a></label>
					<div class="text-info" ng-show="!collapsedCreatedOn">{{hospital.website
						|isNull }}</div>
				</div>


				</ng-form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
				<button type="button" class="btn btn-success" ng-click="approve()"
					ng-disabled="(manageContentApprovalDialog.$dirty && manageContentApprovalDialog.$invalid) || manageContentApprovalDialog.$pristine || hospital.status== 'APPROVED'">Approve</button>
				<button type="button" class="btn btn-danger" ng-click="reject()"
					ng-disabled="hospital.status== 'REJECTED'">Reject</button>

			</div>
		</div>
	</div>
</div>