<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-star"></span> Add Hospital Name
				</h4>
			</div>
			<div class="modal-body banner" style="overflow: auto;" banner="250">
				<ng-form name="manageProcedureDialog" novalidate role="form">
				<div style="color: red">{{errorMessage}}</div>
				<div class="form-group input-group-lg"
					ng-class="{true:'has-error'}[manageProcedureDialog.hospitalname.$dirty && manageProcedureDialog.hospitalname.$invalid]">
					<label class="control-label" for="name">Hospital Name:</label><input
						type="text" class="form-control" name="hospitalname"
						id="hospitalname" ng-model="data.hospitalname" value="" required><span
						class="help-block">Enter hospital Name.</span>
				</div>
				</ng-form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="save()"
					ng-disabled="(manageProcedureDialog.$dirty && manageProcedureDialog.$invalid) || manageProcedureDialog.$pristine">Save</button>
			</div>
		</div>
	</div>
</div>