<div class="grid-row">
	<div class="grid-col grid-col-9">
		<!-- news -->
		<section id="news" class="widget news news-1">
			<div class="grid">

				<div class="item" ng-repeat="content in contents">
					<h3 class="widget-title">
						<a
							href="#!/articles/{{content.categoryId}}/{{content.title | removespaces}}/{{content.contentId}}">{{content.title
							}}</a>
					</h3>
					<div class="date">
						{{content.updatedDate}}<i class="fa fa-comment"><span>3</span></i>
					</div>
					<div class="wrapper">
						<div class="pic">
							<img src="static/images/{{category}}"
								alt="{{content.title }}" ng-repeat="category in categories |categoryImage:content">
							<div class="links">
								<ul>
									<li><a href="#" class="fa fa-plus"></a></li>
								</ul>
							</div>
						</div>
					</div>
					<p>
						{{content.contentBody | limitTo : 1000 : 0 }}<a
							href="#!/articles/{{content.categoryId}}/{{content.title | removespaces}}/{{content.contentId}}">......
							Read More</a>
					</p>
					
					<div class="cats">
						Posted in:&nbsp; |&nbsp;<span
							ng-repeat="category in categories |contentPostedIn:content">
							<a href="#!/searchcontent/{{category}}">{{category}} </a>&nbsp;
							|&nbsp;<a
							href="#!/articles/{{content.categoryId}}/{{content.title | removespaces}}/{{content.contentId}}"
							class="more fa fa-long-arrow-right"></a>
						</span>
					</div>
				</div>


			</div>

		</section>
		<!--/ photo tour -->

	</div>
	<div class="grid-col grid-col-3">
		<!-- site search -->
		<form class="widget widget-site-search"
			ng-submit="search()" ng-controller="searchCtrl">
			<input type="text" placeholder="Search the site" ng-model="searchkey">
			<button type="submit" class="button">GO</button>
		</form>
		<!--/ site search -->

		<!-- categories -->
		<section class="widget widget-sevices">
			<div class="widget-title">Categories</div>
			<ul>
				<li ng-repeat="category in categories"><i
					class="fa fa-bookmark"></i><a
					href="#!/articles/{{category.name}}/{{category.categoryId}}"><i
						class="fa fa-angle-right"></i>{{category.name}}</a></li>

			</ul>
		</section>
		<!--/ categories -->
		<!-- archives -->
		<section class="widget widget-archives">
			<div class="widget-title">Archives</div>
			<ul>
				<li><a href="#"><i class="fa fa-calendar"></i>May 2014</a></li>
				<li><a href="#"><i class="fa fa-calendar"></i>April 2014</a></li>
				<li><a href="#"><i class="fa fa-calendar"></i>March 2014</a></li>
				<li><a href="#"><i class="fa fa-calendar"></i>February 2014</a></li>
				<li><a href="#"><i class="fa fa-calendar"></i>January 2014</a></li>
			</ul>
		</section>
		<!--/ archives -->

		<!-- text -->
		<section class="widget widget-text">
			<div class="widget-title">Text Widget</div>
			<p>
				<strong>Ut non molestie nulla.</strong><br>Nulla nec rutrum
				tortor, in fermentum nisl.accumsan pulvinar scelerisque tincidunt,
				adipiscing eget risus.
			</p>
			<p>Donec feugiat accumsan est, vitae aliquam nibh hendrerit in.
				Phasellus felis tellus, aliquet et malesuada id, luctus ac purus.</p>
		</section>
		<!--/ text -->

		<!-- tags -->
		<section class="widget widget-tags">
			<div class="widget-title">Tags</div>
			<ul>

				<li><a href="#">tag1</a></li>
			</ul>
		</section>
		<!--/ tags -->

	</div>

</div>