<section class="widget">
		<div class="vc_span6">
			<div class="wpb_tabs wpb_content_element">
				<div
					class="wpb_tour_tabs_wrapper clearfix ui-tabs ui-widget ui-widget-content ui-corner-all">
					<ul class="wpb_tabs_nav clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
						<li
							ng-class="{'ui-state-default ui-corner-top ui-tabs-active ui-state-active':tab===1}"><a
							href ng-click="tab = 1">Find Doctor</a></li>
						<li
							ng-class="{'ui-state-default ui-corner-top ui-tabs-active ui-state-active':tab===2}"><a
							href ng-click="tab = 2">Find Hosital</a></li>
						<li
							ng-class="{'ui-state-default ui-corner-top ui-tabs-active ui-state-active':tab===3}"><a
							href ng-click="tab = 3">Healthcare Articles</a></li>
						<br>
						<br>
						<div ng-show="tab === 1" class="wpb_tab">
							<div class="home-search-container">
								<form id="quick-search" action="searchDoctor">
									<fieldset>
										<input type="text" placeholder="Search doctor by  name"
											name="doctor"><input type="text"
											class="seachCityHome" placeholder="Specility"
											name="specility"> <input type="text"
											class="seachCityHome" placeholder="City" name="city">
										<button type="submit">Search</button>
									</fieldset>
								</form>
							</div>
						</div>
						<div ng-show="tab === 2" class="wpb_tab">
							<div class="home-search-container">
								<form id="quick-search" action="searchHospital">
									<fieldset>
										<input type="text" placeholder="Search hospital by name"
											name="hospital" class="hospitalSearchhome"> <input
											type="text" placeholder="City" name="city"
											class="seachCityHome">
										<button type="submit">Search</button>
									</fieldset>
								</form>
							</div>
						</div>
						<div ng-show="tab === 3" class="wpb_tab">
							<div class="home-search-container">
								<form id="quick-search" action="searchArticle">
									<fieldset>
										<input type="text" placeholder="Search article by keyword"
											name="article" class="articleSearchhome">
										<button type="submit">Search</button>

									</fieldset>
								</form>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</section>